{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Work&Study</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
</head>
<body>
<div class="header">
    <div class="headletter">Work & Study</div>
    Подбор стажировки для вашей будущей карьеры
    <div class="menu">
        <a href=" " class="left"></a>
    </div>
</div>
<div class="logincontent">
        <form class="login" method="post" action="login">
            <p style="color: red;">{{ message }}</p>
            <p> Введите имя пользователя<br>
            {% if messageusername %}
                 <input type="text" name="username" style="color: red;" placeholder="Введите логин" required value="{{messageusername}}" />
            {% else %}
                <input type="text" name="username" style="color: black;" placeholder="Введите логин" required value="{{username}}" />
            {% endif %}
            </p>
            <p>Введите пароль <br>
            {% if messagepassword %}
                <input type="text" name="password" style="color: red;" placeholder="Введите пароль" required value="{{messagepassword}}"/>
            {% else %}
                <input type="password" name="password" style="color: black;" placeholder="Введите пароль" required value="{{password}}" />
            {% endif %}
            </p>
        <p align="center"><input class="button" type="submit" value="Войти"></p>
            или <br>
            <p><a href="{%url 'mains:registr'%}" style="text-decoration: none; color: black;
                                font-size: 16px; color: orange;">Зарегистрироваться</a></p>
    </form>
</div>
</body>
</html>